@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@100;300;500;700&display=swap');
@font-face {
    font-family: 'RobotoRegular';
    src: url(../fonts/Roboto-Regular.ttf) format('TrueType');
}
:root{
	--color-negro:#303030;
	--color-contenido:#686868;
	--fondo-gris:#f3f3f6;
	--fondo-gris-claro:#f8f8f8;
	--menu-hover:#000;
	--color-azul:#218fe6;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: var(--color-contenido);
	line-height: 1.8;
}

header{
	background-color: var(--fondo-gris);
	padding: 20px 0;	
}
header img{
	width: 150px;
}

h1,h2,h3,h4,h5,h6{
	color: var(--color-negro);
	font-family: 'Roboto', sans-serif;
}

#hero{
	background-image: url(../img/full-1.jpg);
	background-position: top center;
	background-size: cover;
	padding: 10% 0;
}

#hero h1,
#hero-slides h1{
	font-size: 50px;
	margin-bottom: 20px;
	font-weight: 300;
}
#hero h3,
#hero-slides h3{
	font-size: 24px;
	margin-bottom: 40px;
	font-weight: 300;
}

#hero .btn-light,
#hero-slides .btn-light{
	background-color: transparent;
	border: 2px solid #939393;
	padding: 10px 20px;
	text-transform: uppercase;
	color: var(--color-negro);
	font-size: 14px;
	font-weight: 700;
}
#hero .btn-light:hover,
#hero-slides .btn-light:hover{
	background-color: #333333;
	color: #FFFFFF;
	border-color: #333333;
}

.section{
	padding: 5% 0;	
}

#features{
	text-align: center;
}

.circulo{
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	background-color: var(--color-azul);
	display: block;
	margin: auto;
	color: #fff;
	font-size: 30px;
	text-align: center;
	transition: all 0.6s ease-in-out;
}

.titulo{
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 40px;
}
.subtitulo{
	font-size: 20px;
	color: #777;
	font-weight: 300;
}


#contact .titulo{
	color: #fff;
	font-size: 50px;
	
}


#features h4{
	font-size: 18px;
	margin-top: 30px;
}

#features .feature{
	background-color: var(--fondo-gris);
	padding: 20px 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	
}
#features .feature:hover .circulo{
	background-color: var(--color-negro);
	transition: all 0.6s ease-in-out;
}



#who{
	background-color: var(--fondo-gris-claro);
}

.list-icon i{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 100%;
	color: var(--color-azul);
	display: inline-block;
	text-align: center;
	border: 1px solid #ddd;
	font-size: 22px;
	margin-right: 10px;
}
.list-icon li{
	margin-bottom: 10px;
}
.list-icon i:hover{
	color: var(--color-negro);
}



#services .titulo{
	margin-bottom: 20px;
	margin-top: 20px;
}
#services i{
	font-size: 30px;
	color: var(--color-azul);
}


/*capas en HTML-CSS*/
.servicio{
	position: relative;
	overflow: hidden;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0,0,0,0.60);
}
.servicio-texto{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	text-align: center;
	z-index: 2;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.servicio-texto h4,
.servicio-texto-oculto h4,
#services .servicio i{
	color: #fff;
}

.servicio-texto-oculto{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	text-align: center;
	color: #fff;
	opacity: 0;
	z-index: 100;
	display: grid;
	align-content: center;
	transition: all 0.5s ease-in;
	background-color: rgba(0,0,0,0.60);
}

.servicio:hover .servicio-texto-oculto{
	opacity: 1;
	transition: all 0.5s ease-in;
}

.servicio.imagen img{
	filter: grayscale(1);
	transition: all 0.3s ease-in;
}
.servicio.imagen:hover img{
	filter: grayscale(0);
	transform: scale(1.25);
	transition: all 0.3s ease-in;
}

.etiqueta{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: var(--color-azul);
	color: #fff;
	font-size: 12px;
	padding: 4px;
	z-index: 2000;
	width: 100%;
	text-align: center;
}



#page-title{
	background-color: var(--fondo-gris-claro);
	padding: 30px 0;
}
#page-title h1{
	font-size: 30px;
	font-weight: 300;
}

.breadcrumb a{
	text-decoration: none;
	color: #aaa;
}
.breadcrumb a:hover{
	color: var(--color-azul);
}


footer{
	background-color: #151515;
	color: #777;
	padding: 20px 0;
	font-size: 13px;
}







